<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome of Sentiment Analysis of Flipcart product</h1>
    <form action = "/predict" method = "post">
        <label for="test_strings">Enter Text</label> <br>
        <textarea id="test_strings" name="txt"></textarea><br><br>
        <button type = "submit">Predict</button>
    </form>
</body>
</html>